@import 'https://fonts.googleapis.com/css?family=Rubik+One';
body{
    background-color: white;
}
.central_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.item{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 8px;
    border-width: 1px;
    margin: 1%;
    transition: all 300ms;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.57);
}
.item:hover{
    transform: scale(1.02);
}
.container_image img {
    padding: 2%;
    width: 50%;
    height: 20%;
    display: flex;
}

a {
    text-decoration: none;
}

li {
    text-align: center;
    display: none;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 2%;
    margin-bottom: 1px;
    border-radius: 5px;
    list-style: none;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
li:nth-child(-n+7) {
    display: flex;
}
li:nth-child(1) {
    /* Estilos para el elemento del medio */
    transform: scale(0.8);
}
li:nth-child(2) {
    /* Estilos para el elemento del medio */
    transform: scale(0.9);
}
li:nth-child(3) {
    /* Estilos para el elemento del medio */
    transform: scale(1);
    margin-bottom: 7%;
}
li:nth-child(4) {
    /* Estilos para el elemento del medio */
    transform: scale(1.4);
    border-color: red;
    border-width: 3px;
}
li:nth-child(5) {
    /* Estilos para el elemento del medio */
    transform: scale(1);
    margin-top: 7%;
}
li:nth-child(6) {
    /* Estilos para el elemento del medio */
    transform: scale(0.9);
}
li:nth-child(7) {
    /* Estilos para el elemento del medio */
    transform: scale(0.8);
}

.menu{
    width: 20%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}
.menu a{
    width: 30%;
    text-align: center;
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    margin-inline: 2%;
    padding-inline: 4%;
    padding-top: 1px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-radius: 5px;

}
%test {
     position: absolute;
     content: '';
     transition: all .5s;
 }

 #rotar{
     height: fit-content;
     bottom;
 }
.container_botom {
    color: white;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 4vw;
    transition: all .5s;
    background-color: #3498db;

 &::before {
     @extend %test;
     bottom: -15px;
     width: 100%;
     left: 8px;
     transform: skewX(45deg);
     background-color: darken(#3498db, 20%);
 }

&::after {
     @extend %test;
     right: -15px;
     width: 15px;
     bottom: -8px;
     transform: skewY(45deg);
     background-color: darken(#3498db, 30%);
 }

&:active {
     margin-left: 10px;
     margin-top: 10px;
&::before {
     bottom: -5px;
     height: 5px;
     left: 3px;
 }

&::after {
     right: -5px;
     width: 5px;
     bottom: -3px;
 }
}
}
